.container-list {
display: flex;
width: 100%;
}

.expansionList {
text-align: left;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
padding: 30px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expansionList img {
width: 100%;
height: auto;
}

.cardList {
display: inline-block;
margin: 5px 6px 6px;
}

.cardList img {
width: 120px;
height: auto;
}

.setImg {
position: fixed;
width: 100vw;
height: 100vh;
display: flex;
align-content: center;
justify-content: center;
align-items: center;
overflow: hidden;
top: 0;
left: 0;
}

.imgCard img {
width: 100%;
}

.grayfilter {
filter: grayscale(100%);
}

.possession {
position: fixed;
padding: 8px 10px;
margin: 20px 0;
font-size: 25px;
width: 100%;
color: white;
background-color: black;
border: 4.5px solid transparent;
border-image: linear-gradient(
    90deg,
    rgba(65, 164, 211, 1) 25%,
    rgba(216, 64, 211, 1) 100%
);
border-image-slice: 1;
background-clip: padding-box;
}

.possession:hover {
border-image: linear-gradient(
    90deg,
    rgb(64, 216, 122) 21%,
    rgba(65, 164, 211, 1) 100%
);
border-image-slice: 1;
background-clip: padding-box;
}

@media only screen and (max-width: 500px) {
.cardList{
margin: 5px 2.5px;
}

.modifyCard{
justify-content: center;
display: flex;
flex-wrap: wrap;
}

.expansionList{
padding: 0;
border-top: 0;
border-left: 0;
}

.imgCard{
width: auto;
margin: 0 7%;
}


.modifyPossession{
width: 100%;
display: flex;
justify-content: center;
}

.possession{
width: auto;
margin: 10px 0;
}
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
.expansionList{
border-left: 0;
border-top: 0;
}
.modifyCard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
}   