.slides {
width: 100vw;
height: 65vh;
border-top: 7px solid black;
border-bottom: 7px solid black;
object-fit: cover;
}

.carousel-control-prev-icon {
transform: scale(1.4);
filter: invert(100%);
}

.carousel-control-next-icon {
transform: scale(1.4);
filter: invert(100%);
}

.testo-slider {
text-shadow: 
-1.5px -1.5px 2px #000, 
2px -1.5px 2px #000, 
-1.5px 2px 2px #000,
2px 2px 2px #000;
}
